<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

 <link rel="stylesheet" href="../../public/css/style.css">
<style>
  *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing:border-box;
}
body{
    background-color: rgb(0, 0, 0);
    padding: 0 30px;
}

header{
    height: 60px;
    width:100%;
    position: relative;
    top: 0;
    z-index: 2;
}
#logo{
    line-height: 60px;
    margin-left: 40px;
    cursor: pointer;
    font-size: 40px;
    font-weight:bold;
   margin-right: 10px;

}
#logo a{
    color: rgb(87, 195, 228);

    text-decoration: none;
}
#logo:hover a{
    color: rgb(7, 173, 233);
    
}

ul{ 
    list-style-type: none;
    margin-top: 10px;
}
 ul li{
    display: inline-block;
    margin:auto;
   
    
}
@media screen and (max-width:625px) {
   #logo{
       margin-left:20px;
   }
    ul li{
display: block;
margin-bottom: 2px;
   }
   
}  


.menu a{
    text-decoration: none;
    
    color:rgb(255, 255, 255);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    font-weight: bold;

}

.sign{
    float:right;
    margin-top: 25px;
   
}
@media screen and (max-width:625px)
{
    .sign{
        display:block;
        float:left;
        margin-top:0px;
        margin-bottom: 10px;
       }
}

.menu a:hover{
    background-color: #fff;
    color: #000;
    
    border-radius: 10px;
    }
    
.slider{
    position: relative;
    width: auto;
height:auto;
/* overflow: hidden; */

}
.slider .slide
{
    z-index: 1;
    position: relative;
    width: 100%;
    /* height: 655px; */
    
}

.slider .slide img
{
    
    z-index: 1;
    border-radius: 5px;
    width: 100%;
    height:100%;
    object-fit: cover;
}




.listing { 
    list-style-type: none;
    margin-top: 10px;
}
.listing li{
    display: inline-block;
    margin:auto;
    
}
.feature
{
    margin-top: 10px;
    margin-left:20px;
margin-bottom: 10px;

    border-top:1px solid rgba(177, 173, 173, 0.76);

}
.list
{
    position: relative;
    margin-top: 70px;
    margin-left:20px;
    border-top:1px solid rgba(177, 173, 173, 0.76);

}

.heading{ 
    color: white;
    font-weight: 500;
    font-size:1.3rem;
    margin:20px 10px;

margin-bottom: 0px;
margin-top: 10px;
}

.cs-hidden
{
    overflow: visible !important;
}

  

.box
{
    display:flex;
    flex-direction: column;
    align-items:center;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    margin:20px 10px;
    border-radius: 10px;
    overflow: hidden;
    width:200px;
    background-color: #ffffff;
   

}

.Img
{
    width:100%;
    height:100%;
}

.Img img
{
    width:100%;
    height:100%;
    object-fit: cover;
}

.Text
{
    color:#3a3a3a;
    margin:0px;

}


@media screen and (max-width:625px)
{
    .list{
        margin-left:40px;

    }
    .feature{
        margin-left:40px;
    }
    .heading{ 
        color: white;
        font-weight: 400;
        font-size:1.1rem;  
    }
    .box
{
   
    overflow: hidden;
    width:170px;
    margin-left:30px;

}

}


.banner
{
    width: auto;
height:auto;
margin-bottom: 10px;
overflow: hidden;
}

.banner img{
    width: 100%;
    height:100%;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: cover;
    border-top:1px solid rgba(177, 173, 173, 0.76);


}

.inner-footer
{
    border-top:1px solid rgba(177, 173, 173, 0.76);
    margin:0;
    padding:0;
}

.social-links
{
    display: flex;
}
.social-links ul
{
    padding:10px;
    display: flex;
    width:300px;
    height:30px;
    margin:auto;

}

.social-items
{
    list-style: none;
}

.social-items a
{
    padding:10px 20px;
    font-size: 40px;
    color: #6cccc6;
    transition: all .25s;

}
.social-items a:hover{
    color:#54a09b;
}

@media screen and (max-width:625px)
{
    .social-links ul{
        width:150px;
        margin-bottom: -20px;
    }
    .social-items a{
        font-size: 20px;
        padding:5px 10px;
    }
}

.quick-links
{
    display: flex;
    width:auto;
    height:70px;
    align-content: center;
    margin-top:10px;
    margin-bottom: -10px;
    margin:auto;
}
.quick-links ul{
    display: flex;
}
.quick-items
{
    list-style: none;
}
.quick-items a
{
    text-decoration: none;
    padding: 0 25px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: all .25s;
}
@media screen and (min-width:625px)
{
    .quick-links{
        width:600px;
        align-content: center;
        
        margin-top:10px;
         
    }
  
}
@media screen and (max-width:625px)
{
    .quick-links{
        align-content: center;
        margin-left:80px;
        margin-top:-10px;

    }
    .quick-items a{
        font-size:15px;
        padding: 0 10px;
    
    }
}
.quick-items a:hover{
    color:#6cccc6;
}
@media screen and (max-width:480px)
{
    .quick-links{
        align-content: center;
        margin-left:20px;
        margin-top:-10px;
    }
    .quick-items a{
        font-size:12px;
        padding: 0 10px;
    
    }
}
.quick-items a:hover{
    color:#6cccc6;
}
.outer-footer
{
    padding:10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

@media screen and (max-width:480px)
{
.outer-footer
    {
        font-size: 10px;
    }
}


.loginbox{
	width: 380px;
	/* height: 420px; */
    height: auto;
	position: relative;
background-color: #fff;
border-radius: 10px;
	color: #fff;
	left:50%;
    margin-top: 250px; 
    margin-bottom: -125px;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.signUp
{
    height: 500px !important;
    margin-bottom: -150px;

}

.login{
	margin: -5px;
    margin-top: -20px;
    margin-bottom:10px;
	padding: 0 0 20px;
	text-align: center;
	font-size: 26px;
	font-weight: bold;

    color: black;


}
.loginbox p{
	margin: 0;
	padding: 0;
    font-size: 22px;
	font-weight: bold;
    color: black;

}
.loginbox input{
	width: 100%;
	margin-bottom: 20px;
	font-size: 14px;
    color: black;
}
.loginbox input[type="password"]
{
	border: none;
	border-bottom: 1px solid rgb(0, 0, 0);
	background: transparent;
	font-size: 14px;

	outline: none;
	height: 40px;
    color: rgb(0, 0, 0);
    
	}
.loginbox input[type="password"]:hover, input[type="email"]:hover{
	font-size: 18px;

}	

.loginbox input[type="text"],input[type="email"]
{
	border: none;
	border-bottom: 1px solid rgb(0, 0, 0);
	background: transparent;
	font-size: 14px;

	outline: none;
	height: 40px;
    color: rgb(0, 0, 0);
    
	}
.loginbox input[type="text"]:hover{
	font-size: 18px;

}	



.loginbox input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background:rgb(87, 195, 228);
	color: #fff;
	font-size: 18px;
    font-weight: bold;
	border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
	cursor: pointer;
	background: rgb(24, 152, 190);
	color: rgb(255, 255, 255);
}
.loginbox a{
	text-decoration: 12px;
	font-size: 15px;
	line-height: 20px;
	color: darkgrey;
	margin-bottom: 10px;
}
.loginbox a:hover{
	color: rgb(24, 152, 190);
}

.error{
    color:red;
    margin-top :-20px;
    margin-bottom: 10px;
}

.content
{
    color: rgb(38, 197, 245);
}
.content1
{
    font-weight: 500;
    font-size:1.3rem;
    margin-bottom: 10px;
}
.dash
{
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
}

@media screen and (max-width:625px)
{
    .loginbox{
        width: 350px;
        /* height: 420px; */
        height: auto;
        position: relative;
    background-color: #fff;
    border-radius: 10px;
        color: #fff;
        left:50%;
        top:50%;
        margin-top: 350px; 
        margin-bottom: -125px;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        padding: 70px 30px;
    }
    
    .signUp
    {
        height: 500px !important;
        margin-bottom: -150px;
    
    }
    
}  
.movie-detail
{
    position:relative;
    margin:3% 0;
    margin-left:10px;
}
.left-box
{
    color:#fff;
    margin:15px 0;
    padding: 20px;
}

.left-box a
{
    text-decoration: none !important;
    border-radius: 30px;
    padding: 7px 20px;
    margin-top: 15px;
    color: #fff !important;
    background:#107afd;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
}

.left-box h1
{
    color:rgb(87, 195, 228) ;
}

.left-box img
{
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left:30%;
}
.movie-img
{
    height: 490px;
    box-shadow: -4px 4px 5px 0 #000;
    border-radius: 10px;

}
@media screen and (max-width:768px)
{
    .movie-img{
        display: none;
    }
}

</style>

<div class="movie-detail">
   <div class="row">
       <div class="col-md-6 left-box">
           <img src="{{movie.image}}">
<h1>{{movie.name}}</h1>
<p>{{movie.description}}</p>
<a href="#">Buy at ${{movie.p_price}}</a>
<a href="#">Rent at ${{movie.r_price}}</a>

       </div>
       <div class="col-md-6 text-center">
<img src="{{movie.b_image}}" class="movie-img">
       </div>
   </div>
    
</div>

 