<main>

{{#if isEmpty}}
<h1 class="content">Cart is empty</h1> 
{{/if}}

{{#unless isEmpty}}
{{#if hasRent}}
    <h1 class="content">Rent Movies Or Tv:</h1> 
    {{!-- table view --}}
    <table class="cart" style="width: 30%;">
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr> 
        {{#each rentMovies}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
        </tr>
        {{/each}}
    </table>
{{/if}}

{{#if hasBuy}}
    <h1 class="content">Buy Movies:</h1>

   <table class="cart" style="width: 30%;">
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        {{#each buyMovies}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
        </tr>
        {{/each}}
    </table>
{{/if}}

<h1 class="total">Total: ${{total}}</h1> 
<div class="services">
<a class="conform service" href="/services/clearCart">Conform Order</a>
</div>
{{/unless}}
</main>
